{% include "cabecera.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Resultados</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cupingcss/stylecup.css' %}">

    <style>
        /* Estilos para agregar espacio entre partidos */
        .partido-container {
            margin-bottom: 20px;
        }

        /* Estilos para resaltar los partidos */
        .partido {
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .partido:hover {
            background-color: #e5e5e5;
        }
    </style>
</head>
<body>

    <!-- Breadcrumb section -->
    <div class="site-breadcrumb">

    </div>
    <!-- Breadcrumb section end -->
    <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item" ><a href="/" style="color: black"><i class="fa fa-home" style="color: black"></i> Inicio</a></li>
      <li class="breadcrumb-item active">Resumen</li>
    </ol>
    </div>

    <!--Código Nuevo-->
    <section class="full-courses-section spad pt-0">
        <h3 class="h3-stylecup">RESUMEN DEL PARTIDO</h3>
         <div class="containerp">
        <!-- code here -->
        <div class="match">
            <div class="match-header">

                <div class="match-tournament"><img class="img-stylecup" src="{% static "image/Logo copa inge png.png" %}" />Copa Inge 2023</div>
                <div class="match-actions">
                    <button class="btn-icon"><i class="material-icons-outlined">10</i></button>
                    <button class="btn-icon"><i class="material-icons-outlined">/</i></button>
                    <button class="btn-icon"><i class="material-icons-outlined">06</i></button>
                    <button class="btn-icon"><i class="material-icons-outlined">/</i></button>
                    <button class="btn-icon"><i class="material-icons-outlined">2023</i></button>
                </div>
            </div>


            <div class="match-content">

                <div class="column">
                    <div class="team team--home">
                        <div class="team-logo">
                            {% if partido.equipo_local.imagen %}
                                    <img  src="{{ partido.equipo_local.imagen.url }}" alt="" class="img-stylecup equipo-img">
                            {% endif %}
                        </div>
                        <h2 class="team-name">{{ partido.equipo_local.nombre }}</h2>

                    </div>
                </div>
                <div class="column">
                    <div class="match-details">
                        <div class="match-date">
                            <strong>{{ partido.fecha }}</strong>
                        </div>
                        <div class="match-score">
                            <span class="match-score-number ">{{ partido.goles_local }}</span>
                            <span class="match-score-divider">:</span>
                            <span class="match-score-number">{{ partido.goles_visitante }}</span>
                        </div>
                        <div class="match-referee">
                            {{ partido.partido_numero }}: <strong>{{ partido.fase_partido }}</strong>
                        </div>
                        <!--<div class="match-bet-options">
                            <button class="match-bet-option">1.48</button>
                            <button class="match-bet-option">4.98</button>
                            <button class="match-bet-option">8.24</button>
                        </div>-->
                        <!--<button class="match-bet-place">RESUMEN</button>-->
                    </div>
                </div>
                <div class="column">
                    <div class="team team--away">
                        <div class="team-logo">
                            {% if partido.equipo_visitante.imagen %}
                                    <img src="{{ partido.equipo_visitante.imagen.url }}" alt="" class="img-stylecup equipo-img">
                            {% endif %}
                        </div>
                        <h2 class="team-name">{{ partido.equipo_visitante.nombre }}</h2>


                    </div>
                </div>
            </div>

             {% for eventopartido in partido.eventopartido_set.all %}
            {% if eventopartido.tipo == 'INICIO DEL PARTIDO' %}
                <div class="match-header" style="padding: 0px;"></div>
                <div class="match-header">
                    <div class="match-time-lapsed">
                        <i class="fa fa-clock-o"></i><span> {{ eventopartido.tipo }}</span>
                    </div>
                    <div class="match-actions">
                        <button class="btn-icon"><i class="material-icons-outlined">{{ eventopartido.minuto }}'</i></button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

            {% for evento in partido.evento_set.all %}
                <div class="match-header" style="padding: 0px;"></div>
                <div class="match-header">
                    <div class="match-time-lapsed">
                        {% if evento.tipo == 'GOOOOL' or evento.tipo == 'GOOOL' %}
                            <i class="fa fa-soccer-ball-o"></i><span> {{ evento.tipo }}</span>
                        {% elif evento.tipo == 'TARJETA ROJA' or evento.tipo == 'TARJETA ROJA ' %}
                            <i class="fas fa-square redcard-icon"></i><span> {{ evento.tipo }}</span>
                        {% elif evento.tipo == 'TARJETA AMARILLA' or evento.tipo == 'TARJETA AMARILLA ' %}
                            <i class="fas fa-square yellowcard-icon"></i><span> {{ evento.tipo }}</span>
                        {% endif %}
                    </div>

                    <div class="match-actions">
                        <button class="btn-icon"><i class="material-icons-outlined">{{ evento.minuto }}'</i></button>
                    </div>
                </div>

                <div class="match-content">
                    <div class="column-resumen">
                        <div class="match-referee-resumen">
                            <strong>{{ evento.jugadores }}</strong>
                        </div>
                        <div class="match-referee-resumen">
                            {% if evento.tipo == 'GOOOOL' or evento.tipo == 'TARJETA ROJA' or evento.tipo == 'TARJETA AMARILLA' %}
                                <span>&nbsp;&nbsp; {{ partido.equipo_local.nombre }} </span>
                            {% elif evento.tipo == 'GOOOL' or evento.tipo == 'TARJETA ROJA ' or evento.tipo == 'TARJETA AMARILLA ' %}
                                <span>&nbsp;&nbsp; {{ partido.equipo_visitante.nombre }} </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="column-resumen">
                        <div class="team team--away">
                            <div>
                                {% if evento.tipo == 'GOOOOL' or evento.tipo == 'TARJETA ROJA' or evento.tipo == 'TARJETA AMARILLA' %}
                                    {% if partido.equipo_local.imagen %}
                                        <img src="{{ partido.equipo_local.imagen.url }}" alt="" class="equipo-img">
                                    {% endif %}
                                {% elif evento.tipo == 'GOOOL' or evento.tipo == 'TARJETA ROJA ' or evento.tipo == 'TARJETA AMARILLA ' %}
                                    {% if partido.equipo_visitante.imagen %}
                                        <img src="{{ partido.equipo_visitante.imagen.url }}" alt="" class="equipo-img">
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
         {% for eventopartido in partido.eventopartido_set.all %}
            {% if eventopartido.tipo == 'FINAL DEL PARTIDO' %}
                <div class="match-header" style="padding: 0px;"></div>
                <div class="match-header">
                    <div class="match-time-lapsed">
                        <i class="fa fa-clock-o"></i><span> {{ eventopartido.tipo }}</span>
                    </div>
                    <div class="match-actions">
                        <button class="btn-icon"><i class="material-icons-outlined">{{ eventopartido.minuto }}'</i></button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        </div>
    </div>
    </section>

{% include "pie_pagina.html" %}
    <script src="{% static 'js/cupingjs/script.js' %}"></script>
</body>
</html>