{% include "cabecera.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Tabla de Posiciones</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cupingcss/stylecup.css' %}">
</head>
<body>
    <section class="courses-section spad">
    <div class="container">
    <h1>Tabla de Posiciones</h1>

    <table id="tabla-posiciones">
        <thead>
            <tr>
                <th>Equipo</th>
                <th>PUNTOS</th>
                <th>PJ</th>
                <th>PG</th>
                <th>PE</th>
                <th>PP</th>
                <th>GF</th>
                <th>GC</th>
                <th>DG</th>
            </tr>
        </thead>
        <tbody>
            {% for posicion in posiciones %}
                <tr>
                    <td><img src="{% static "image/" %}{{ posicion.equipo.imagen }}" alt="" class="equipo-img">{{ posicion.equipo.nombre }}</td>
                    <td>{{ posicion.puntos }}</td>
                    <td>{{ posicion.partidos_jugados }}</td>
                    <td>{{ posicion.partidos_ganados }}</td>
                    <td>{{ posicion.partidos_empatados }}</td>
                    <td>{{ posicion.partidos_perdidos }}</td>
                    <td>{{ posicion.goles_favor }}</td>
                    <td>{{ posicion.goles_contra }}</td>
                    <td>{{ posicion.diferencia_goles }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </section>

{% include "pie_pagina.html" %}
<script src="{% static "js/cupingjs/script.js" %}"></script>
</body>
</html>