table {
  width: 100%;
  border-collapse: collapse;

}

@media screen and (max-width: 600px){
    table{
        display: block;
        overflow-x: auto;

    }
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #E0DCDC;
  border-left: 1px solid #E0DCDC;
  border-right: 1px solid #E0DCDC;
  border-top: 1px solid #E0DCDC;
}


th{
    background-color: gray;
    color: whitesmoke;
}
tr:hover {
  background-color: whitesmoke;
}



h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos CSS adicionales
.highlight {
    background-color: yellow;
}*/

.equipo-img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-left: 10px;
}